/* font */
@font-face {
    font-family: "ConcertOne";
    src: url(../font/ConcertOne-Regular.woff2) format("woff2");
}
:root{
    --dark-pink : rgb(255, 154, 171);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ConcertOne" , sans-serif;
}

body{
    width: 100%;
    height: min(100vh , 100%);
    background-color: black;
    display: flex;
    justify-content: center;
}

.todo_list_container{
    width: min(500px,90%);
    background-color: lightgreen;
    border-radius: 30px;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 10px 10px pink;
    margin-top: max(10%,100px);
}

h1{
    text-align: center;
}
/* input and button */
.top{
    width: 100%;
    height: 50px;
    border: 2px solid black;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: 20px 0 30px;
}

input{
    width: 100%;
    border: none;
    outline: none;
    padding: 0px 15px;
    height: inherit;
    font-size: 18px;
}
button{
    width: 100px;
    height: inherit;
    border: none;
    background-color: pink;
    font-size: 20px;
    cursor: pointer;
    transition: all .2s;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover {
    background-color: var(--dark-pink);
}
/* items todo list */
li {
    width: 100%;
    padding: 15px;
    height: 50px;
    margin: 5px;
    list-style: none;
    background-color: pink;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
    padding-left: 40px;
    position: relative;
}
li:hover {
    background-color: var(--dark-pink);
}

.show-delete-icon li i.fa-close {
    display: block;
}

.show-delete-icon li {
    background-color: var(--dark-pink);
}

/* delete item icon */
.fa-close {
    display: none;
    cursor: pointer;
}
li:hover .fa-close {
    display: block;
}
li i:hover {
    transform: scale(1.1);
}
/* done */
.tick{
    display: none;
}
.done .tick {
    width: 10px;
    height: 25px;
    transform: rotate(-40deg);
    border: 3px solid green;
    border-top: none;
    border-right: none;
    position: absolute;
    left: 15px;
    bottom: 15px;
    display: block;
}
.done {
    background-color: var(--dark-pink);
}
.done p {
    text-decoration: line-through;
}
.done .tick::after {
    content: "";
    position: absolute;
    width: 150%;
    left: -5px;
    height: 120%;
    background-color: var(--dark-pink);
    z-index: 2;
    animation: tick .7s linear;
    animation-fill-mode: forwards;
}
@keyframes tick {
    30% {
        top: 0;
        left: -10px;
    }
    100% {
        top: -190%;
        left: -10px;
    }
}
/* modal box */
.bg-modal-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(15px);
    z-index: 99;
    display: none;
}
.modal-box{
    width: 300px;
    height: 150px;
    background-color: lightgreen;
    border-left: 5px solid var(--dark-pink);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    position: fixed;
    top: -30%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    transition: all .5s;
}
.bg-modal-box.open{
    display: block;
}
.modal-box.open{
    top: 50%;
}
/* Date */
.date{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--dark-pink);
    font-size: 25px;
    z-index: 100;
    text-shadow: 0 0 3px #000;
}
/* Loading */
.loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading p{
    color: lightgreen;
    font-size: 25px;
}
.loading p span{
    animation: loading 3s infinite;
}
.loading p span:nth-child(2){
    animation-delay: .7s;
}
.loading p span:nth-child(3){
    animation-delay: 1.5s;
}
@keyframes loading{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}